html {
  background-image: url("/icons/nz.jpg");
}
#header {
  color: rgb(255,255,255);
  font-family: "Times New Roman";
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
#searchbar {
  text-align: center;
}
#canvas {
  border-style: dotted;
  border-width: 2px;
/*  border-radius: 15px;*/
}
#esther {
  border-style: dotted;
  border-width: 2px;
/*  border-radius: 15px;*/
}
#schedule {
  border-style: dotted;
  border-width: 2px;
/*  border-radius: 15px;*/
}
#handshake {
  border-style: dotted;
  border-width: 2px;
/*  border-radius: 15px;*/
}
#sallyportal {
  border-style: dotted;
  border-width: 2px;
/*  border-radius: 15px;*/
}
#gmail {
  border-style: dotted;
  border-width: 2px;
/*  border-radius: 15px;*/
}
#calendar {
  border-style: dotted;
  border-width: 2px;
/*  border-radius: 15px;*/
}
#imleagues {
  border-style: dotted;
  border-width: 2px;
/*  border-radius: 15px;*/
}